tournament-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  padding: 10px;
  box-sizing: border-box;

  background-color: var(--list-item);
  color: var(--light);
  border-radius: 2px;

  cursor: pointer;

  &:hover {
    background-color: var(--list-item-tint);
  }

  &>div:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.tournament-row-name {
  text-transform: uppercase;
}

.tournament-row-details {
  display: flex;
  font-size: smaller;
  margin-top: 5px;

  &>* {
    margin-right: 10px;
  }
}

.btn-tournament-remove {
  padding: 0;
  background-color: transparent;
  display: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    background-color: transparent;
  }
}

tournament-row:hover .btn-tournament-remove {
  display: inline-flex;
}
