app-header {
  width: 100%;
  height: 40px;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  flex-shrink: 0;
  box-sizing: border-box;

  position: relative;

}

app-header > .app-header-title {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-left: 10px;
}

#app-header-back {
  position: absolute;
  left: 10px;
}
